# Description of the Dataset

This dataset is for ABC Multistate bank with following columns: 
1.	customer_id, unused variable.
2.	credit_score, used as input.
3.	country, used as input.
4.	gender, used as input.
5.	age, used as input.
6.	tenure, used as input.
7.	balance, used as input.
8.	products_number, used as input.
9.	credit_card, used as input.
10.	active_member, used as input.
11.	estimated_salary, used as input.
12.	churn, used as the target. 1 if the client has left the bank during some period or 0 if he/she has not.

# 1. Load Libraries

In [ ]:
# Load Required Libraries
import pandas as pd; 
import numpy as np; 
import matplotlib.pyplot as plt
import matplotlib as mpl
from matplotlib.figure import Figure
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import warnings
warnings.filterwarnings('ignore')
import param
import hvplot.pandas
import panel as pn
pn.extension()
mpl.use('agg')

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from xgboost import XGBClassifier
from catboost import CatBoostClassifier
from sklearn import metrics
from sklearn.metrics import roc_curve
from sklearn.metrics import recall_score, confusion_matrix, precision_score, f1_score, accuracy_score, classification_report

# 2. Reading Data From CSV

In [54]:
# Read Data from csv
csv_file = "data/Dataset2.csv"
df = pd.read_csv(csv_file)

# 3. Understanding the dataset

In [55]:
# peek into dataset
df.head()
df.tail()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0,2,1,0,9627064,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,5736961,1,1,1,10169977,0
9997,9998,15584532,Liu,709,France,Female,36,7,0,1,0,1,4208558,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,7507531,2,1,0,9288852,1
9999,10000,15628319,Walker,792,France,Female,28,4,13014279,1,1,0,3819078,0

In [56]:
# See all the columns in the dataset
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [48]:
# General Information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 15634602 to 15628319
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   credit_score      10000 non-null  int64
 1   country           10000 non-null  object
 2   gender            10000 non-null  object
 3   age               10000 non-null  int64
 4   tenure            10000 non-null  int64
 5   balance           10000 non-null  float64
 6   products_number   10000 non-null  int64
 7   credit_card       10000 non-null  int64
 8   active_member     10000 non-null  int64
 9   estimated_salary  10000 non-null  float64
 10  churn             10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 937.5+ KB

In [57]:
# check number of null values present in each features
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [58]:
# get statistical information of dataset
df.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.00000,10000.000000,1.000000e+04,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,6.980471e+06,1.530200,0.70550,0.515100,9.089385e+06,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,6.285896e+06,0.581654,0.45584,0.499797,6.128208e+06,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000e+00,1.000000,0.00000,0.000000,5.230000e+02,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000e+00,1.000000,0.00000,0.000000,3.336751e+06,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,8.668510e+06,1.000000,1.00000,1.000000,8.890572e+06,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,1.246215e+07,2.000000,1.00000,1.000000,1.439529e+07,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,2.508981e+07,4.000000,1.00000,1.000000,1.999925e+07,1.000000

# 3. Dropping unnecessary columns

In [59]:
# Visualizing Missing Values
df.drop(['RowNumber','CustomerId','Surname'],axis=1,inplace=True)

# 4. Preliminary Data Analysis

In [ ]:
# How many of the customer has credit card?
# How many are active member?
# How many customers have existed the bank?
# Dataset based on gender?
# Data distribution by Age?
# Propotion of different income level
# Distribution of Tottal NumOfProducts
# Distribution of Credit Limit
# Proportion of existed vs not existed customers
# Visualizing Missing Values

# 5. Data Visualization with different charts & Tools